.editor {
	width: 100%;
	border: 1px solid gray;
    padding: 8px;
	> div:last-child {
		> div {
			min-height: 150px;
			border: 1px black solid;
			padding: 10px 20px;
            p, ul, ol {
                margin: 2px;
            }
            ul, ol {
                padding-left: 20px;
            }
		}
	}
}

.menu {
	display: flex;
	gap: 8px;
	flex-direction: column;
	margin-bottom: 8px;
}

.menu-button {
	background-color: #f0eeed;
	color: black;
	padding: 8px;
	font-weight: 600;
	&:hover {
		background-color: #cccccc;
	}
	&:disabled {
		opacity: 0.5;
		// cursor: default;
		pointer-events: none;
	}
    &.is-active {
        background-color: skyblue;
    }
}

.text-size-increase {
    margin-left: 16px;
    // font-size: 18px;
    background-color:bisque;
}

.text-size-decrease {
    // font-size: 10px;
    background-color:bisque;
}

.red-button {
	color: #8c0a02;
}

.menu-contains-halves {
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.menu-section {
	display: flex;
	gap: 4px;
	flex-direction: row;
}
